<%- include('layouts/header') %>


<!-- Register-box START -->
<div class="section-block-grey border-top">
    <div class="container">
        <div class="section-heading">
            <h5><%= __('info.basic') %></h5>
            <div class="section-heading-line-left"></div>
        </div>
        <div class="row mt-40">
            <div class="col-lg-8 col-md-7 col-12 mb-30">

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="login-box new-client-box">
                            <h4><%= __('info.data.client') %></h4>
                            <h6><%= __('info.data.register') %></h6>
                            <p><%= __('info.data.info') %></p>
                            <a href="/register" class="register-button"><%= __('info.data.continue') %></a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="login-box client-login-box">
                            <h4><%= __('info.login') %></h4>
                            <div class="register-box-input mt-15">
                                <% if(loginError.length > 0) {%>
                                <p class="alert"><%= loginError%></p>
                                <%} %>
                                <% if(passwordError.length > 0) {%>
                                <p class="alert"><%= passwordError%></p>
                                <%} %>
                                <form action="/login" method="POST" novalidate>

                                    <input type="email" name="email" placeholder="<%= __('info.email') %>" required="">
                                    <input type="password" name="password" placeholder="<%= __('info.password') %>" required="">

                                    <button type="submit" class="register-button"><%= __('info.data.continue') %></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-5 col-12">
                <div class="register-box-menu">
                    <ul>
                        <li class="register-box-menu-active"><a href="/login"> <%= __('info.login') %>  </a></li>
                        <li><a href="/register"> <%= __('info.register') %> </a></li>
                  

                        <% if(!isAuth) {%>
                         
                            <%} else {%>
                                <li><a href="/change-password"> <%= __('info.forgot') %> </a></li>
                                <li><a href="/personal"> <%= __('info.myInfo') %></a></li>
                         
                                <%} %>        



      
                                  
                                 
                            
                      
                        <!-- <li><a href="/orders"> <%= __('info.orders') %> </a></li> -->
                        <!-- <li><a href="#"> Возвраты </a></li>
                        <li><a href="#"> Условия </a></li> -->
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<!-- Register-box End -->

<%- include('layouts/footer') %>